@tailwind base;
@tailwind components;
@tailwind utilities;

/* FORZAR MODO CLARO Y RESETEAR ESTILOS CONFLICTIVOS */
:root {
  --foreground-rgb: 15, 23, 42;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

html,
body {
  background-color: #ffffff !important;
  /* Fuerza bruta blanca */
  color: #0F172A !important;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Arreglar SVGs gigantes si Tailwind falla */
svg {
  max-width: 100%;
  height: auto;
}