@tailwind base;
@tailwind components;
@tailwind utilities;

/* FORZADO BRUTO A MODO CLARO */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: #0F172A;
  background: #FFFFFF !important;
  /* Important para matar cualquier modo oscuro */
  overflow-x: hidden;
}

/* Regla de seguridad para imágenes rotas */
svg,
img {
  max-width: 100%;
  height: auto;
}